// Styling for the contact section
#contact{
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 1.2rem;
    .h1-contact{
        font-size: 1.5rem;
        color: $primary;
        font-weight: bold;
    }
    .p-contact{
        font-size: 1rem;
    }
  }