// Styling for the footer section
#footer{
    background: $primary;
    font-family: 'Roboto', sans-serif;
    color: $white;
    padding: 1rem;
    .h1-footer{
        font-size: 1.5rem;
        color: $white;
        font-weight: bold;
    }
    .a-footer{
        color: $white;
        font-size: .9rem;
    }
    .p-footer{
        font-size: .8rem;
    }
    .btn-up{
        color:$yellow;
        font-size: 3rem;
        position: fixed;
        right: 15px;
        bottom:2px;
        z-index: 999999999;
    }
  }